body {
  background-color: darkgreen;
  font-size: 30px;
}
hr {
  color: black;
  background-color: black;
  height: 10px;
}
#graphics {
  background-color: rgb(204, 158, 103);
}
#nividia {
  background-color: rgb(75, 48, 15);
}
#user {
  background-color: rgb(8, 58, 23);
}
table,
th,
tr,
td {
  border: 10px solid rgb(14, 80, 167);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
