body {
  background-color: rgb(12, 24, 65);
  font-size: 30px;
}
hr {
  color: rgb(103, 116, 30);
  background-color: black;
  height: 10px;
}
#graphics {
  background-color: rgb(99, 75, 155);
}
#nividia {
  background-color: rgb(173, 14, 62);
}
#user {
  background-color: rgba(31, 62, 97, 0.561);
}
table,
th,
tr,
td {
  border: 5px solid red;
}
